body {
  font-family: YuGothic, "游ゴシック", sans-serif;
  background-color: #DCC;
  font-size: 12px;
  padding:0 20px;
}

h1 {
    font-size:2em;
    margin:0 20px;
}

/* プロフィール */
#face{
    font-size:20px;
}
#face img {
  max-width: 120px;
  border: 3px solid #FEE;
  border-radius: 100%;
}

.container {
    margin:10px 0 0 0;
}

/* bootstrap調整 */
/* navbar */
.navbar {
background-color: #DAA;
border-color: #3e6962;
}
.navbar .navbar-default a{
    color:#000;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #C99;
}
